//                      Mixins & Variables

$colour-primary-light: #6AAdEE;
$colour-primary: #0163C1;
$colour-black-light: #757575;
$colour-black: #333333;
$border: 2px solid $colour-primary-light;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2.5rem;
$line-height-sm: 1.2;
$line-height-md: 1.5;

@mixin border($alignment) {
  border-#{$alignment}: $border;
  @if $alignment == 'top' {
    margin-#{$alignment}: 0.5rem;
  } @else {
    margin-#{$alignment}: 1rem;
  }
  padding-#{$alignment}: 1rem;
}

//                      General & Reset

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i|Raleway:400,500,600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: $colour-black;
  font-size: $font-size-sm;
  line-height: $line-height-md;
  margin: 3rem 2rem 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $colour-black;
  text-decoration: underline transparent;
  transition: ease-in-out 0.15s;
  &:hover,
  &:focus,
  &:active {
    color: $colour-black-light;
  }
}

//                      Layout

.l-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  grid-template-areas:
    'secondary primary'
  ;
}

.l-primary {
  grid-area: primary;
  > * {
    @include border(bottom);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.l-secondary {
  grid-area: secondary;
  > * {
    @include border(bottom);
    &:first-child {
      @include border(top);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//                      Main

.u-header {
  margin-bottom: 1.5rem;
}

.u-title,
.u-subtitle {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  text-align: center;
  line-height: $line-height-sm;
}

.u-title {
  font-weight: 300;
  font-size: $font-size-xl;
  margin-bottom: 0.25rem;
}

.u-subtitle {
  font-size: $font-size-lg;
  color: $colour-black-light;
}

.u-heading {
  font-family: 'Raleway', sans-serif;
  font-size: $font-size-md;
  font-weight: 600;
  margin-bottom: 0.625rem;
  color: $colour-primary;
  line-height: $line-height-sm;
}

.u-subheading {
  font-family: 'Raleway', sans-serif;
  font-size: $font-size-md;
  font-weight: 500;
  line-height: $line-height-sm;
}

.u-subheading-2 {
  font-size: $font-size-xs;
  font-weight: 400;
  color: $colour-black-light;
  margin-bottom: 0.375rem;
}

.u-content {
  padding-left: 0.5rem;
}

.u-list {
  li {
    display: block;
    margin-bottom: 0.375rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--icons {
    margin-left: -0.5rem;
    padding-left: 1.5rem;
    li {
      position: relative;
      &:before {
        content: '';
        width: 14px;
        height: 14px;
        display: inline-block;
        background-size: 100% 100%;
        margin-right: 0.5rem;
        position: absolute;
        top: 0;
        left: -1.5rem;
      }
    }
  }
  &--skills {
    column-count: 2;
  }
  &--bullets {
    margin-top: 0.25rem;
    li {
      position: relative;
      padding-left: 1.25rem;
      &:before {
        content: "\2022";
        color: $colour-primary;
        font-weight: bold;
        font-size: $font-size-md;
        display: inline-block;
        width: 1rem;
        position: absolute;
        top: 0;
        left: 0.25rem;
      }
    }
  }

  .u-sublist {
    margin-top: 0.5rem;
    ul {
      margin-top: 0.25rem;
      padding-left: 0.5rem;
      li {
        margin-bottom: 0;
      }
    }
  }
}

.u-star {
  color: $colour-primary;
  float: right;
}

.u-portfolio {
  &:before {
    background-image: url('/images/icon-portfolio.svg');
  }
}

.u-github {
  &:before {
    background-image: url('/images/icon-github.svg');
  }
}

.u-email {
  &:before {
    background-image: url('/images/icon-email.svg');
  }
}

.u-phone {
  &:before {
    background-image: url('/images/icon-phone.svg');
  }
}

.u-music {
  &:before {
    background-image: url('/images/icon-music.svg');
  }
}

.u-fitness {
  &:before {
    background-image: url('/images/icon-fitness.svg');
  }
}

.u-experience-block {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  &:after {
    content: "";
    display: block;
    position: relative;
    bottom: -1rem;
    left: calc((100% - 50px) / 2);
    height: 1px;
    width: 50px;
    border-bottom: $border;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    &:after {
      content: none;
    }
  }
}

.u-date {
  font-size: $font-size-xs;
  font-weight: 400;
  margin-bottom: 0.25rem;
  float: right;
}

.u-footer {
  margin-top: 1.5rem;
  text-align: center;
}

.u-link {
  text-decoration: underline $colour-primary-light;
}
