//                      Mixins & Variables

$colour-primary: #6AAdEE;
$colour-primary-dark: #0163C1;
$colour-black: #333333;
$border: 2px solid $colour-primary;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-normal: 1rem;

@mixin border($alignment) {
  border-#{$alignment}: $border;
  margin-#{$alignment}: 1rem;
  padding-#{$alignment}: 1rem;
}

//                      General & Reset

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i|Raleway:400,600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: $colour-black;
  font-size: 0.875rem;
  margin: 3rem  2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $colour-black;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $colour-primary;
    text-decoration: underline;
  }
}

//                      Layout

.l-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  grid-template-areas:
    'secondary primary'
  ;
}

.l-primary {
  grid-area: primary;
  > * {
    @include border(bottom);
  }
}

.l-secondary {
  grid-area: secondary;
  font-size: $font-size-xs;
  > * {
    @include border(bottom);
    &:first-child {
      @include border(top);
    }
  }
}

//                      Main

.u-header {
  margin-bottom: 1.5rem;
}

.u-title,
.u-subtitle {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  text-align: center;
}

.u-title {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.u-subtitle {
  font-size: 1.25rem;
}

.u-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: $colour-primary-dark;
}

.u-content {
  padding-left: 0.5rem;
}

.u-list {
  li {
    display: block;
    margin-bottom: 0.25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--highlighted {
    margin-left: -0.5rem;
    padding-left: 1.5rem;
    li {
      position: relative;
      &:before {
        content: '';
        width: 14px;
        height: 14px;
        display: inline-block;
        background-size: 100% 100%;
        margin-right: 0.5rem;
        position: absolute;
        top: 0;
        left: -1.5rem;
      }
    }
  }
  &--skills {
    column-count: 2;
  }

  .u-sublist {
    margin-top: 0.5rem;
    ul {
      margin-top: 0.25rem;
      padding-left: 0.5rem;
      li {
        margin-bottom: 0;
      }
    }
  }
}

.u-portfolio {
  &:before {
    background-image: url('/images/portfolio-icon.svg');
  }
}

.u-github {
  &:before {
    background-image: url('/images/github-icon.svg');
  }
}

.u-email {
  &:before {
    background-image: url('/images/email-icon.svg');
  }
}

.u-phone {
  &:before {
    background-image: url('/images/phone-icon.svg');
  }
}

.u-music {
  &:before {
    background-image: url('/images/music-icon.svg');
  }
}

.u-fitness {
  &:before {
    background-image: url('/images/fitness-icon.svg');
  }
}

.u-footer {
  text-align: center;
}


